#### data_dtaw_korea.csv 파일을 판다스로 읽어오자.

In [20]:
import pandas as pd

data = pd.read_csv('data_draw_korea.csv')
#print(data)

data.sample(3)

     Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
17           17   39668        횡성  10   5  997.82    강원도  횡성군
115         115  292375      부산북구   9  16   38.30  부산광역시   북구
106         106  321618      대전유성   4  13  177.16  대전광역시  유성구

In [24]:
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [66]:
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [67]:
data.loc[data['광역시도']=='서울특별시'].sort_values(by='인구수',ascending=False).reset_index(drop=True)

    Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
0          141  615487      서울송파  8  6  33.90  서울특별시   송파구
1          127  554709      서울강서  4  4  41.40  서울특별시   강서구
2          132  547202      서울노원  6  1  35.44  서울특별시   노원구
3          124  526157      서울강남  6  7  39.50  서울특별시   강남구
4          128  484478      서울관악  5  6  29.60  서울특별시   관악구
5          145  464236      서울은평  4  3  29.70  서울특별시   은평구
6          142  453634      서울양천  4  5  17.40  서울특별시   양천구
7          140  434061      서울성북  6  2  24.57  서울특별시   성북구
8          125  432028      서울강동  8  5  24.60  서울특별시   강동구
9          138  407416      서울서초  6  6  47.04  서울특별시   서초구
10         130  401233      서울구로  4  7  20.11  서울특별시   구로구
11         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구
12         135  383917      서울동작  5  5  16.36  서울특별시   동작구
13         136  364232      서울마포  5  4  23.87  서울특별시   마포구
14         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
15         129  342909      서울광진  7  6  17.05  서울특별시   광진구
16         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
17         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
18         126  310292      서울강북  5  2  23.60  서울특별시   강북구
19         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
20         139  279939      서울성동  7  5  16.85  서울특별시   성동구
21         131  222566      서울금천  5  7  13.01  서울특별시   금천구
22         144  208603      서울용산  6  5  21.87  서울특별시   용산구
23         146  140595      서울종로  6  3  23.90  서울특별시   종로구
24         147  114967      서울중구  6  4   9.96  서울특별시    중구

In [69]:
data.loc[data['광역시도']=='경상북도',['행정구역','인구수','면적']].sort_values(by='인구수',ascending=False).reset_index(drop=True)

   행정구역     인구수       면적
0   포항시  488395  1127.00
1   구미시  396685   616.10
2   경산시  251220   411.58
3   경주시  242618  1323.85
4   안동시  157317  1519.00
5   김천시  127941  1009.56
6   칠곡군  112446   451.00
7   영주시  101612   668.45
8   상주시   93305  1254.82
9   영천시   91214   919.76
10  문경시   67919   912.00
11  의성군   48776  1175.89
12  울진군   46748   989.06
13  예천군   40779   660.70
14  청도군   38571   696.52
15  성주군   38277   616.28
16  영덕군   34864   741.05
17  고령군   31189   383.70
18  봉화군   30287  1201.00
19  청송군   23804   842.45
20  군위군   20596   614.15
21  영양군   16009   815.11
22  울릉군    8392    72.82

In [75]:
data.iloc[20:25,1:4]

       인구수 shortName  x
20   63227        과천  7
21  327111        광명  3
22  290210        광주  8
23  175676        구리  9
24  273302        군포  5

In [78]:
pop_mean_value = data['인구수'].mean()
print([pop_mean_value])

[211089.77729257641]

In [83]:
pop_mean_under = data.loc[data['인구수'] <= pop_mean_value, ['인구수','행정구역','면적','광역시도']]

pop_mean_under

        인구수 행정구역       면적  광역시도
0    202520  강릉시  1040.07   강원도
1     25589  고성군   664.19   강원도
2     86747  동해시   180.01   강원도
3     63986  삼척시  1185.80   강원도
4     76733  속초시   105.25   강원도
..      ...  ...      ...   ...
223   86441  음성군   521.05  충청북도
224  127462  제천시   882.47  충청북도
225   34480  증평군    81.84  충청북도
226   62809  진천군   406.08  충청북도
228  198077  충주시   983.70  충청북도

[141 rows x 4 columns]

In [85]:
pop_mean_under.to_excel('전국인구평균미만지역.xls')

C:\Users\JUNKYU~1\AppData\Local\Temp/ipykernel_26156/3524708326.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  pop_mean_under.to_excel('전국인구평균미만지역.xls')

In [87]:
data.rename(columns={'Unnamed: 0':'num'})

     num     인구수 shortName   x   y       면적  광역시도 행정구역
0      0  202520        강릉  11   4  1040.07   강원도  강릉시
1      1   25589    고성(강원)   9   0   664.19   강원도  고성군
2      2   86747        동해  11   5   180.01   강원도  동해시
3      3   63986        삼척  11   8  1185.80   강원도  삼척시
4      4   76733        속초   9   1   105.25   강원도  속초시
..   ...     ...       ...  ..  ..      ...   ...  ...
224  224  127462        제천   8  10   882.47  충청북도  제천시
225  225   34480        증평   6  11    81.84  충청북도  증평군
226  226   62809        진천   5  11   406.08  충청북도  진천군
227  227  790216        청주   6  12   932.51  충청북도  청주시
228  228  198077        충주   6  10   983.70  충청북도  충주시

[229 rows x 8 columns]

In [90]:
data.loc[data['광역시도'] == '경기도', ['행정구역','인구수']]\
    .sort_values(by='인구수',ascending=False)\
    .reset_index(drop=True)

    행정구역      인구수
0    수원시  1125461
1    고양시   955384
2    용인시   915005
3    성남시   911628
4    부천시   805473
5    안산시   668089
6   남양주시   610300
7    안양시   566558
8    화성시   555129
9    평택시   423763
10  의정부시   408220
11   파주시   385528
12   시흥시   381412
13   광명시   327111
14   김포시   326523
15   광주시   290210
16   군포시   273302
17   오산시   200793
18   양주시   191266
19   이천시   190537
20   구리시   175676
21   안성시   173061
22   하남시   150061
23   의왕시   149080
24   포천시   140159
25   여주시   100669
26   양평군    95614
27  동두천시    90398
28   과천시    63227
29   가평군    53497
30   연천군    41076

In [92]:
pop_max_value = data.loc[data['광역시도'] == '경기도','인구수'].max()

print(pop_max_value)

1125461

## 광역시도를 아규먼트로 받아서 광역시도중 가장 인구가 많은 행정구역을 반환하는 함수 정의하기

In [100]:
def find_city_max(city):
    pop_max_value = data.loc[data['광역시도'] == city,'인구수'].max()
    return data.loc[(data['인구수'] == pop_max_value) & (data['광역시도'] == city), ['광역시도','행정구역','인구수']]
    
find_city_max('경기도')

KeyError: "None of [Index(['강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도', '강원도',\n       ...\n       '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도', '충청북도',\n       '충청북도'],\n      dtype='object', length=229)] are in the [index]"